<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de certificados de asistencia y cursos - Activar cuenta</title>
</head>
<body>
   
    {% include "header.html" %}
    <h4>Activá tu cuenta</h4>
    <p>Te enviamos a tu mail el código de activación. Si no lo recibiste hacé click <a href="../resend_account_activation/?id={{request.GET.id}}">acá</a> para que te enviemos otro.</p>
    <form action="{% url 'Account activation' %}" method="POST">{% csrf_token %}
        {% if request.GET.email %}
        <input type="hidden" name="email" value="{{request.GET.email}}">
        Email {{request.GET.email}}<br>
        {% else %}
        Email <input type="email" name="email">  <br>
        {% endif %}
        Código de activación <input type="number" name="activation_code"> <br>
        <input type="submit" value="ACTIVAR CUENTA">  <br>
    </form>
    {% include "footer.html" %}

</body>
</html>