<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Generador de certificados de asistencia y cursos - Mail existente</title>
</head>
<body>
    {% include "header.html" %}
    <h4>El mail que estás intentando modificar ya lo tiene otro usuario. Si no se redirige a la página de modificación de usuario en menos de 5 segundos, hacé click <a href="javascript:history.back()">acá</a></h4>
    <script>
        setTimeout(function () {
            location.href = "javascript:history.back()"
            }, 3000);
    </script>
    {% include "footer.html" %}
</body>
</html>