<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de certificados de asistencia y cursos - Preguntas frecuentes</title>
</head>
<body>
    {% include "header.html" %}
    <h4>Preguntas frecuentes</h4>
    <p><b>¿Qué es Generador de Certificados?</b></p>
    <p>Es una herramienta que sirve para generar en forma automática certificados de asistencia
        a cursos o charlas a través de un Excel y enviarlos por correo electrónico. 
    </p>
    <p><b>¿Cómo empiezo?</b></p>
    <p>Registrate desde <a href="/signup/">acá</a> y seguí los pasos. 
    </p>
    <p><b>¿Quién hizo Generador de Certificados?</b></p>
    <p>Lo hizo <a href="https://www.linkedin.com/in/mbduffy/" target="_blank">Miguel Duffy</a> a modo de práctica para aprender a programar.
        Si querés escribirle lo podés hacer a <a href="mailto:miguelbduffy@gmail.com">miguelbduffy@gmail.com</a>. 
    </p>
   
    {% include "footer.html" %}
</body>
</html>