  <!-- FOOTER -->
  <footer class="footer py-5">
    <div class="container">
         <div class="row">

              <div class="col-lg-12 col-12">
                  <p class="copyright-text text-center">Este es un sitio de práctica. Llevate lo que necesites. El código está subido acá.</p>
                  <p class="copyright-text text-center">Si ves algún error o algo que no cuadra, te agradecería me lo comentaras a <a href="mailto:miguelbduffy@gmail.com">miguelbduffy@gmail.com</a>.</p>
                  <p class="copyright-text text-center">Template de <a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a> modificado por Miguel Duffy</p>
              </div>
              
         </div>
    </div>
</footer>