<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de certificados de asistencia y cursos - Error 500</title>
    <style>
        p,h4 {
      text-align: center;
    }
    </style>
</head>
<body>
   
    {% include "header.html" %}
    <h4>Estás intentando acceder a una página que no tenés autorización.</h4>
    {% include "footer.html" %}

</body>
</html>