{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Generador de certificados de asistencia y cursos.">
    <script src="https://kit.fontawesome.com/b3be44bc10.js" crossorigin="anonymous"></script>
    <title>Generador de certificados de asistencia y cursos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/unicons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.min.css' %}">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/tooplate-style.css' %}?1">
    
<!--

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

-->
<style>
  navbar-nav ml-lg-auto {
text-align: center;
}
h4,p,li,form,h1,h2,h3 {
      padding-bottom: 4px;
      padding-top: 2px;
      padding-left: 3%;
      padding-right: 3%;
}
</style>

  </head>
  <body>
    <!-- NOTA PARA VISITANTE -->
<!-- Hola! Gracias por inspeccionar el código. Si tenés alguna pregunta sobre cómo lo hice, te invito
a que me escribas a miguelbduffy@gmail.com. Saludos, Miguel -->
    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="../"><i class="fas fa-certificate"></i></i> Generador de certificados</a></center>
                <ul class="navbar-nav ml-lg-auto">
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <script src="{%static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{%static 'js/popper.min.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
    <script src="{%static 'js/Headroom.js' %}"></script>
    <script src="{%static 'js/jQuery.headroom.js' %}"></script>
    <script src="{%static 'js/owl.carousel.min.js' %}"></script>
    <script src="{%static 'js/smoothscroll.js' %}"></script>
    <script src="{%static 'js/custom.js' %}"></script>
    

  </body>
</html>