<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de certificados de asistencia y cursos - Modificá tu contraseña</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        #in{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .inp{
            margin-top: 3px;
            margin-bottom: 3px;
        }
    </style>
</head>
<body>
    {% include "header.html" %}
    <h4>Modificá tu contraseña</h4>
    <form>
        <input type="hidden" name="email" id="email" value="{{user.email}}">  <br>
        Email(usuario): {{user.email}}<br>
        Ingresá tu nueva contraseña: <input type="password" class="inp" name="password" id="pass1" required> <br>
        Repetí tu nueva contraseña: <input type="password" class="inp" name="password" id="pass2" required> <br>
        <input type="button" id="in" value="CAMBIAR CONTRASEÑA" onclick="validarForm()">
    </form>
    <script>
        {% if request.GET.confirmation_code is None or request.GET.confirmation_code == "" %}
            $( document ).ready(function() {
                alert( "No tenés el código de confirmación. Tenés que recuperar tu contraseña." );
                window.location.href = "{% url 'Recover password' %}"
                });
        {% else %}
        
        function validatePassword(password){
            if (password.length < 8 || password.length > 20) {
                alert("La contraseña tiene que tener por lo menos 8 caracteres y menos de 21.")
                return false;
            } else if ($("#pass1").val() != $("#pass2").val()){
                alert("La contraseña no coincide")
                return false;
            } else if (!/[A-Z]/.test(password)) {
                alert("La contraseña tiene que tener por lo menos una mayúscula.")
                return false;
            } else if (!/[a-z]/.test(password)) {
                alert("La contraseña tiene que tener por lo menos una minúscula.")
                return false;
            } else if (!/[0-9]/.test(password)) {
                alert("La contraseña tiene que tener por lo menos un número.")
                return false;
            } else if (!/[,.!@#$%?]/.test(password)) {
                alert("La contraseña tiene que tener por lo menos un caracter especial: ,.!@#$%?")
                return false;
            }
            
            return true;
        }
        
        function validarForm(){
            if(!validatePassword($("#pass1").val())){
                return false;
            }
            
            $.ajax({
                    url: "{% url 'Password changed' %}",
                    type: "post",
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        email:$("#email").val(),
                        password:$("#pass1").val(),
                        confirmation_code:{{request.GET.confirmation_code}}
                    },
                    success: function(result){                         
                        if(result['success']){
                            alert("La contraseña ha sido modificada satisfactoriamente.")
                            window.location.href = "{% url 'Login' %}"
                        }
                        else{
                            alert("El código de confirmación es inválido.");
                            return false
                            }
                        },
                        
                        })
        } ;   

        {% endif %}
    </script>

    {% include "footer.html" %}
</body>
</html>