<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Generador de certificados de asistencia y cursos - Elegí quién firma</title>
</head>
<body>
    {% include "header.html" %}
    <h4>PASO 3: ELEGIR FIRMANTE</h4>
    <h4>Elegí quién firma (puede ser uno o dos)</h4>
        <div id="none_listed_signees2">    
        {% if active_company_signees %}    
            <form action="{% url 'Import Excel' %}" id="form" method="GET" onsubmit="return minOneChecked()">
                <div id="checkbox_container">   
                    {% for active_signee in active_company_signees %}                    
                        <div class="li_signee_{{active_signee.id}}"><input class="single-checkbox" type="checkbox" name="signee" value={{active_signee.id}}>{{active_signee}}</div>                    
                    {% endfor %}
                </div>
                <input type="hidden" name="course_id" value={{course.id}}>
                <input type="submit" value="ELEGIR" id="choose_signee_btn">
            </form>       
        {% else %}
            <p class="none_listed_signees">No hay firmantes creados.</p>
        {% endif %}
            </div>

    <!-- MODIFICÁ O ELIMINÁ FIRMANTE -->
    <h4>Modificá o eliminá a un firmante</h4>
    <ul id="lists">
        {% if active_company_signees %}
            {% for active_signee in active_company_signees %}
                <li class="li_signee_{{active_signee.id}} li_none_listed_signees">                 
                    {{active_signee}} <a href="{% url 'Modify signee'%}?id={{active_signee.id}}">MODIFICÁ ESTE FIRMANTE</a> | <a href="#" onclick="confirm_deletion({{active_signee.id}})">ELIMINÁ ESTE FIRMANTE</a>                                                                                                                    
                </li> 
            {% endfor %}
        {% else %}
            <p class="none_listed_signees">No hay firmantes creados.</p>
        {% endif %}
    </ul>

    <!-- CREAR FIRMANTE -->
    <h4>Creá un firmante</h4>
        <form>{% csrf_token %}
            {{ form }}
            <input type="hidden" name="course_id" value={{course.id}} id="course_id">
            <input type="button" value="CREAR FIRMANTE" id="idButton">
        </form>
        <p>El ancho máximo permitido es 200 píxeles y el alto 100 (idealmente que sea sea en formato PNG de fondo transparente).<br>
        </p>
    <!-- FIRMANTE ELIMINADOS -->
        
        <h4>Firmantes eliminados</h4>
        <ul id="lists2">
        {% if inactive_company_signees%}
            {% for inactive_signees in inactive_company_signees %}
                    <li id="li_signee_inactive_{{inactive_signees.id}}" class="li_signee_inactive">
                        {{inactive_signees.name}} <a href="#" onclick="confirm_reactivation({{inactive_signees.id}})">REACTIVAR</a><br>
                    </li>
            {% endfor %}
        
        {% else %}
            <p id="none_deleted_signees">No hay firmantes eliminados.</p>
        {% endif %}
        </ul>
        <script>
                $('input.single-checkbox').on('change', function(evt) {
                if($(this).siblings(':checked').length >= 2) {
                    this.checked = false;
                    alert("El máximo de firmantes es 2.");
                }
            });
            function minOneChecked(){
                if ($('input.single-checkbox:checked').length == 0) {
                    alert("Tenés que elegir por lo menos un firmante.");
                    return false;
                    }
                if ($('input.single-checkbox:checked').length > 2) {
                    alert("El máximo de firmantes es dos.");
                    return false;
                    }
            }
            
            var _URL = window.URL || window.webkitURL;
            $("#id_signature").change(function (e) {
                var file, img;
                if ((file = this.files[0])) {
                    img = new Image();
                    var objectUrl = _URL.createObjectURL(file);
                    img.onload = function () {
                        if(this.width > 200 || this.heigth > 100){
                        alert("El ancho máximo permitido es 200 píxeles y el alto 100.");
                        $("#id_signature").val("");
                        return false;
                    }
                    _URL.revokeObjectURL(objectUrl);
                };
                img.src = objectUrl;
            }
        });
        
        $(document).ready(function(){
            if ($(".single-checkbox").length > 0){
                $("#choose_signee_btn").show()
            }
            $("#idButton").click(function(){
                var fd = new FormData();
                var files = $('#id_signature')[0].files;
                fd.append('name',$("#id_name").val());
                fd.append('job_title',$("#id_job_title").val());
                fd.append('course_id',$("#course_id").val());
                fd.append('csrfmiddlewaretoken','{{ csrf_token }}');
                if($("#id_name").val() == ""){
                    alert("Por favor agregá un nombre.");
                    return false;
                }
                if($("#id_job_title").val() == ""){
                    alert("Por favor agregá un puesto laboral.");
                    return false;
                }
                if(files.length > 0 ){
                    fd.append('signature',files[0]);
                    $.ajax({
                        url: "{% url 'Create signee' %}",
                        type: 'post',
                        data: fd,
                        contentType: false,
                        processData: false,
                        success: function(response){
                            alert("El firmante se creó exitosamente");
                            html = '<li class="li_signee_'+response['id']+'">'+response['name']+" "+'<a href="{% url "Modify signee"%}?id='+response['id']+'">MODIFICÁ ESTE FIRMANTE</a> | <a href="#" onclick="confirm_deletion('+response['id']+')">ELIMINÁ ESTE FIRMANTE</a> </li>'
                            $("ul#lists").append(html);
                            $(".none_listed_signees").hide()
                            if ($("#form").val() == undefined) {
                                circo = '<form action="{% url 'Import Excel' %}" id="form" method="GET" onsubmit="return minOneChecked()">'
                                circo+= '<div id="checkbox_container">'
                                circo+= '</div>'
                                circo+= '<input type="hidden" name="course_id" value={{course.id}}>'
                                circo+= '<input type="submit" value="ELEGIR" id="choose_signee_btn">'
                                circo+= '</form>'
                                $("div#none_listed_signees2").html(circo);    
                            }
                            html2 = '<div class="li_signee_'+response['id']+'"><input class="single-checkbox" type="checkbox" name="signee" value='+response['id']+'>'+response['name']+'</div>'                    
                            $("#checkbox_container").append(html2);
                            if ($(".single-checkbox").length > 0){
                            $("#none_listed_signees").hide()
                                $("#choose_signee_btn").show()
                            }
                        },
                    });
                }else{
                        alert("Por favor agregá una firma.");
                    }
                });
            });

            function confirm_deletion(signee_id){
                if (confirm("¿Seguro querés borrar el firmante?")){
                    $.ajax({
                        url: "{% url 'Delete signee'%}?id="+signee_id,
                        type: 'GET',
                        success: function(response){
                            $(".li_signee_"+signee_id).remove();
                            alert("El firmante se eliminó exitosamente");                            
                            html3 = '<li id="li_signee_inactive_'+response['id']+'" class="li_signee_inactive">'+response['name']+" "+'<a href="#" onclick="confirm_reactivation('+response['id']+')">REACTIVAR</a> </li>'                            
                            $("ul#lists2").append(html3);
                            $("#none_deleted_signees").hide()
                            html4 = '<p class="none_listed_signees">No hay firmantes creados.</p>'
                            if($(".li_none_listed_signees").length == 0){
                                $("div#none_listed_signees2").html(html4);
                                $("ul#lists").html(html4);
                            }
                            if ($(".single-checkbox").length == 0){
                                $("#choose_signee_btn").hide()
                            }
                        }
                    });
                }
        }
        function confirm_reactivation(signee_id){
                if (confirm("¿Seguro querés reactivar el firmante?")){
                    $.ajax({
                        url: "{% url 'Reactivate signee'%}?id="+signee_id,
                        type: 'GET',
                        success: function(response){
                            $("#li_signee_inactive_"+signee_id).remove()
                        
                            alert("El firmante se reactivó exitosamente");
                            
                            $(".none_listed_signees").remove();
                            
                            $("#li_signee_inactive_"+signee_id).remove()
                            
                            if ($("#form").val() == undefined) {
                                circo = '<form action="{% url 'Import Excel' %}" id="form" method="GET" onsubmit="return minOneChecked()">'
                                circo+= '<div id="checkbox_container">'
                                circo+= '</div>'
                                circo+= '<input type="hidden" name="course_id" value={{course.id}}>'
                                circo+= '<input type="submit" value="ELEGIR" id="choose_signee_btn">'
                                circo+= '</form>'
                                $("div#none_listed_signees2").html(circo);    
                            }

                            html = '<li class="li_signee_'+response['id']+' li_none_listed_signees">'+response['name']+' <a href="{% url "Modify signee"%}?id='+response['id']+'">MODIFICÁ ESTE FIRMANTE</a> | <a href="#" onclick="confirm_deletion('+response['id']+')">ELIMINÁ ESTE FIRMANTE</a>'                                                                                                                    
                            $("ul#lists").append(html);                                             
                            html2 = '<div class="li_signee_'+response['id']+'"><input class="single-checkbox" type="checkbox" name="signee" value="'+response['id']+'">'+response['name']+'</div>'
                            $("div#checkbox_container").append(html2);
                            if ($(".li_signee_inactive").length == 0){
                                html5 = '<p id="none_deleted_signees">No hay firmantes eliminados.</p>'
                                    $("#lists2").append(html5)
                            }
        
                      
                        }
                    });
                }
        }  
        </script>
            
</body>
{% include "footer.html" %}

</html>