<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar curso</title>
</head>
<body>
    <h2>Estás seguro que querés eliminar el curso?</h2>
    <form action="{% url 'Delete course confirmation' %}" method="GET">
        <input type="hidden" name="course" value="{{delete_course.id}}">
        <input type="submit" value="Sí">
        <input type="button" onclick="window.history.back()" value="Volver">
    </form>

</body>
</html>