<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Generador de certificados de asistencia y cursos - Modificar firmante</title>
    <style>
        #in{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .inp{
            margin-top: 3px;
            margin-bottom: 3px;
        }
    </style>
</head>
<body>
    {% include "header.html" %}
    <h4>Modificar firmante</h4>
    <form action="{% url 'Modified signee' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <input type="hidden" name="signee_id" value="{{signee.id}}">  
        Nombre: <input type="text" class="inp" name="signee_name" value="{{signee.name}}"><br>
        {% if signee.signature %}
            Firma actual <img src="{{signee.signature.url}}" /><br>
        {% endif %}
        Nueva firma: <input type="file" class="inp" name="new_signee_signature" id="id_signature" accept="Image/*"> <br>
        El ancho máximo permitido es 200 píxeles y el alto 100 (idealmente que sea sea en formato PNG de fondo transparente). <br>
        Puesto laboral: <input type="text" class="inp" name="signee_job_title" value="{{signee.job_title}}"> <br>
        <input type="submit" id="in" value="MODIFICAR FIRMANTE">
    </form>    
    <script>
    var _URL = window.URL || window.webkitURL;
            $("#id_signature").change(function (e) {
                var file, img;
                if ((file = this.files[0])) {
                    img = new Image();
                    var objectUrl = _URL.createObjectURL(file);
                    img.onload = function () {
                        if(this.width > 200 || this.heigth > 100){
                        alert("El ancho máximo permitido es 200 píxeles y el alto 100.");
                        $("#id_signature").val("");
                        return false;
                    }
                    _URL.revokeObjectURL(objectUrl);
                };
                img.src = objectUrl;
            }
        });
        </script>
    {% include "footer.html" %}

</body>
</html>