<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Generador de certificados de asistencia y cursos - Empresa reactivada</title>
</head>
<body>
    {% include "header.html" %}

    <h4>La empresa fue reactivada</h4>
    <h4>En unos segundos volverás al panel de usuario. Si no ocurre, hacé click <a href="http://127.0.0.1:8000/dashboard/{{company.user.id}}">acá</a></h4>
    {% include "footer.html" %}

</body>
<script>
    setTimeout(function () {
        location.href = "/dashboard/{{company.user.id}}"
        }, 3000);
</script>
</html>