{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Generador de certificados de asistencia y cursos - Modificar empresa</title>
    <style>
        #in{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .inp{
            margin-top: 3px;
            margin-bottom: 3px;
        }
    </style>
</head>
<body>
    {% include "header.html" %}
    <h4>Modificá tu empresa</h4>
    <form action="{% url 'Company modification' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        Nombre: <input type="text" class="inp" name="name" value="{{company.name}}"><br>
        {% if company.logo %}
            <img src="{{company.logo.url}}" /><br>
        {% endif %}
        Logo: <input type="file" class="inp" name="new_company_logo" id="logo" accept="Image/*"><br>
        El ancho máximo permitido es 200 píxeles y el alto 100 (idealmente que sea sea en formato PNG de fondo transparente).<br>
        Email: <input type="email" class="inp" name="email" value="{{company.email}}"><br>
        Contraseña: <input type="password" class="inp" name="password" value="{{company_password}}"><br>
        Es la contraseña de tu mail (no es la contraseña de tu usuario de Generador de Certificados). La contraseña
        se almacena encriptada en el servidor, por lo que NO puedo verla.<br>
        Puerto: <input type="number" class="inp" name="port" value="{{company.port}}"><br>
        SMTP: <input type="text" class="inp" name="smtp" value="{{company.smtp}}"><br>
        <input type="hidden" name="id" value="{{company.id}}">
        <input type="submit" id="in" value="MODIFICAR EMPRESA">
    </form>

    <p>
        <b>IMPORTANTE, LEER!</b> <br>
        <ul>
            <li>* Con este mail se enviarán los certificados, por lo que tiene que ser
                real y tenés que poner su contraseña real (la misma se encripta, por
                lo que no la voy a saber).
            </li>
            <li>* Los datos del puerto y SMTP los podrás obtener de tu proveedor
                de hosting (si googleás el nombre de tu proveedor más puerto / smtp
                seguramente aparecerán).</li>
            <li>* Si usás verificación de dos pasos tenés que desactivarla.</li>
            <li>* Si usás Gmail o Gsuite, el puerto es 587 y el SMTP es smtp.gmail.com.</li>
            <li>* Si usás Gmail o Gsuite deberás tener activada la opción de "aplicaciones menos seguras".
                Desde <b><a href="https://myaccount.google.com/lesssecureapps" target="_blank">acá</a></b>
                la podrás activar. Y también deberás desbloquear el captcha desde 
                <b><a href="https://accounts.google.com/b/0/DisplayUnlockCaptcha" 
                target="_blank">acá</a></b>.</li>
        </ul>         
    </p>
    <script>
        var _URL = window.URL || window.webkitURL;
                $("#logo").change(function (e) {
                    var file, img;
                    if ((file = this.files[0])) {
                        img = new Image();
                        var objectUrl = _URL.createObjectURL(file);
                        img.onload = function () {
                            if(this.width > 200 || this.heigth > 100){
                            alert("El ancho máximo permitido es 200 píxeles y el alto 100.");
                            $("#id_signature").val("");
                            return false;
                        }
                        _URL.revokeObjectURL(objectUrl);
                    };
                    img.src = objectUrl;
                }
            });
            </script>
    {% include "footer.html" %}

</body>
</html>