<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Generador de certificados de asistencia y cursos - Empresa modificada</title>
</head>
<body>
    {% include "header.html" %}

    <h4>La empresa ha sido modificada. Si no se redirige al listado de empresas en menos de 5 segundos, hacé click <a href="http://127.0.0.1:8000/dashboard/{{modify_company_db.user.id}}">acá</a></h4>
    <script>
        setTimeout(function () {
            location.href = "/dashboard/{{modify_company_db.user.id}}"
            }, 3000);
    </script>
    {% include "footer.html" %}

</body>
</html>